<%- include('header.ejs', {'page_class': 'index'}); %>

<div class="main-content">
	<div class="hero">
		<h1 class="title main-title">Steam Pile of Shame</h1>
		<div class="field has-addons has-addons-centered">
		  	<p class="control">
		    	<input class="input" type="number" value="2" placeholder="Hours" />
		  	</p>
		  	<p class="control">
		  		<button class="button" disabled="">Hours</button>
		  	</p>
		  	<p class="control">
		    	<input class="input" type="text" placeholder="Steam Profile Link" />
		  	</p>
		  	<p class="control">
		    	<a class="button is-info">
		      		Search
		    	</a>
		  	</p>
		</div>
	</div>
</div>
	
<%- include footer.ejs %>
