<%- include('header.ejs', {'page_class': 'index'}); %>

<div class="main-content">
	<div class="hero">
		<h1 class="title is-1">Steam Pile of Shame</h1>
		<div class="field has-addons has-addons-centered">
		  	<p class="control">
		    	<span class="select">
		      		<select>
		        		<option>2 Hours</option>
		        		<option>5 Hours</option>
		        		<option>10 Hours</option>
		      		</select>
		    	</span>
		  	</p>
		  	<p class="control">
		    	<input class="input" type="text" placeholder="Steam Profile Link">
		  	</p>
		  	<p class="control">
		    	<a class="button is-info">
		      		Search
		    	</a>
		  	</p>
		</div>
	</div>
</div>
	
<%- include footer.ejs %>
